:root {
    --primary: coral;
    --secondary: whitesmoke;
}

header {
    width: 100%;
    min-height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
}

header .social-links {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-around;
}

.social-links li {
    color: var(--secondary);
    cursor: pointer;
}

header .infos {
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: space-around;
}

.infos div {
    color: var(--secondary);
}

.infos div span {
    margin-left: 5px;
}

nav {
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo h2 {
    letter-spacing: 5px;
    font-size: 2rem;
    margin-left: 1.2rem;
    color: var(--primary);
}

.nav-links {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    color: var(--primary);

}

.nav-links li a {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary);
}

.burger {
    margin-right: 1rem;
    display: none;
}

.burger div {
    margin: 5px;
    width: 25px;
    height: 3px;
    background: var(--primary);

}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background: var(--primary);
}

#title h1 {
    font-size: 3rem;
    color: var(--secondary);
}


#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 5rem 0;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    width: 90%;
    min-height: 100vh;
    align-items: center;
}

.contact-container .contact-left {
    width: 100%;
    height: 95%;
    border-radius: 20px;
    background-image: url('https://images.unsplash.com/photo-1538577402087-f64958ff734f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-container .contact-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-right .title {
    font-size: 3.5rem;
    color: #adb5bd;
    ;
}

.contact-right .contact-quote {
    font-size: 2.5rem;
}

.contact-right .contact-form {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form input {
    margin: 1rem 0;
    height: 50px;
    border: solid 2px var(--primary);
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px 10px;
    outline: none;
}

.contact-form textarea {
    resize: none;
    outline: none;
    border: solid 2px var(--primary);
    border-radius: 10px;
    padding: 10px 7px;

}

.contact-form .checkin {
    display: flex;
    align-items: center;
    padding: 1rem 0;

}

.checkin input {
    width: 20px;
    height: 20px;
    background: white;
}

.checkin label {
    padding-left: 1rem;
}

.checkin label h3 span {
    color: var(--primary);
}

.contact-form button {
    width: 200px;
    height: 50px;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem 0;
    border-radius: 10px;
    border: none;
    background: var(--primary);
    pointer-events: none;
    cursor: pointer;
}

#location {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    min-height: 100vh;
}

.map {
    width: 100%;
}

#queries {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.query-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    width: 90%;
}

.query {
    border: 1px solid var(--primary);
    border-radius: 5px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.query h3 {
    padding-left: 1.3rem;
}

.query p {
    padding-left: 1.3rem;
    width: 90%;
}

.query button {
    margin-bottom: 1rem;
    margin-left: 1.3rem;
    width: 200px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background: var(--primary);
    font-size: 1rem;
}

.contact-container {
    grid-gap: 2rem;
}

#footerr {
    width: 100%;
    min-height: 50vh;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    padding: 2rem 0;

}

.footer-container h2 {
    color: var(--secondary);
    font-size: 1.8rem;
}

.footer-container hr {
    background-color: var(--secondary);
    height: 1px;
    width: 100%;
    margin: 1rem 0;

    border: none;
}



.footer-about p {
    font-size: 0.9rem;
    color: var(--secondary);
    padding-top: 1.1rem;
}



.quick-links .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quick-links .links li {
    color: var(--secondary);
    cursor: pointer;
}

.newsletter {
    display: flex;
    flex-direction: column;
}

.newsletter .newsletter-email {
    height: 3.5rem;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--primary);
    margin-top: 1.7rem;
}

.newsletter button {
    height: 3.5rem;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary);
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--primary);
}

@media only screen and (max-width: 1200px) {

    header .infos {
        display: flex;
        width: 65%;
        align-items: center;
        justify-content: space-around;
    }




}


@media only screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }


    .footer-container {
        width: 95%;
    }
}

@media only screen and (max-width: 900px) {
    header .infos {
        width: 85%;
    }

    .nav-links {
        width: 65%;
    }

    .query button {
        margin-bottom: 0rem;
        margin-left: 1rem;
        width: 140px;
        height: 40px;
        font-size: 0.7rem;
    }








}

@media only screen and (max-width: 800px) {

    body {
        overflow-x: hidden !important;
    }

    header {
        min-height: 10vh;
        flex-direction: column;
        justify-content: space-evenly;
    }



    header .social-links {
        width: 50%;
    }

    header .infos {
        display: none;
    }

    nav {
        z-index: 100;
    }

    .burger {
        display: block;
    }

    .burger:active .nav-links {
        transform: translateX(100%);
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        top: 20vh;
        position: absolute;
        z-index: 1;
        background: var(--secondary);
        transform: translateX(-100%);
        height: 50vh;
        transition: 1s ease-in-out all;
    }


    .footer-container {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        justify-content: space-evenly;
        width: 55% !important;
        padding: 2rem 0;
    }

    .nav-active .nav-links {
        transform: translate(0%) !important;
    }

    .burger div {
        transition: 0.5s ease-in-out all;
    }

    .nav-active .burger .line1 {
        transform: rotate(-45deg) translate(-20px, -5px);
    }

    .nav-active .burger .line2 {
        opacity: 0;
        pointer-events: none;
    }

    .nav-active .burger .line3 {
        transform: rotate(45deg) translate(-15px, 8px);

    }

    #queries {
        padding: 2rem 0;
    }

    .query-content {
        grid-template-columns: 1fr;
    }



}